<mat-toolbar color="primary">
  <span>{{getAppConfig()?.settings.header.appName}}</span>

  <span class="fill-remaining-space"></span>
  <mat-form-field>
    <mat-label>{{'LANGUAGE' | translate}}</mat-label>
    <mat-select (selectionChange)="this.app.changeLanguage($event)" [value]="this.app.usersLanguage">
      <mat-option *ngFor="let lang of this.app.translate.getLangs()" [value]="lang">
        {{'LANGUAGES.' + lang.toUpperCase() | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button matTooltip="{{'DESIGN.SWITCH_DARK' | translate}}" (click)="this.colorSchemeService.update('dark')" *ngIf="this.colorSchemeService.currentActive() == 'light'">
    <mat-icon>brightness_3</mat-icon>
  </button>
  <button mat-icon-button matTooltip="{{'DESIGN.SWITCH_LIGHT' | translate}}" (click)="this.colorSchemeService.update('light')" *ngIf="this.colorSchemeService.currentActive() == 'dark'">
    <mat-icon>wb_sunny</mat-icon>
  </button>
</mat-toolbar>
