<div fxLayout="column" fxLayoutAlign="space-around center" style="height: 100%">

  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading && !error">
    <div fxLayout="column" fxLayoutAlign="space-around center" style="height: 100%">

      <qrcode [qrdata]="this.code" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
      <span>{{'PAGES.RECEIVE.YOUR_CODE' | translate}}</span>
      <code-input [isCodeHidden]="false"
                  [isNonDigitsCode]="false"
                  [codeLength]="10"
                  [code]="code"
      >
      </code-input>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Original name Column -->
        <ng-container matColumnDef="originalName">
          <mat-header-cell *matHeaderCellDef> Titel </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.originalName}} </mat-cell>
        </ng-container>

        <!-- Show Column -->
        <ng-container matColumnDef="show">
          <mat-header-cell *matHeaderCellDef> Anzeigen </mat-header-cell>
          <mat-cell *matCellDef="let element" [innerHTML]="element.show"> </mat-cell>
        </ng-container>
        <!-- Show Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Typ </mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.type}} </mat-cell>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.date | date:'d.M.y H:mm:ss'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

    </div>
  </div>

  <div *ngIf="!loading && error">
    <mat-card>
      <mat-card-content class="red-text">
        {{this.error}}
      </mat-card-content>
    </mat-card>
  </div>


</div>
