.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar {
  top: 0;
}

mat-sidenav-container {
  height: 100vh;
  position: fixed;
  width: 100%
}

#content {
  margin-bottom: 552px;
}


.footer {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  z-index: 1;

  .footer-content {
    display: flex;
    justify-content: center;
    align-content: center;

    .footer-text {
      margin-left: 0.3rem;
      margin-right: 0.3rem;

      span {
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }

  //span {
  //  margin-right: 0.3rem;
  //  display: flex;
  //  justify-content: center;
  //  align-content: center;
  //  a{
  //    margin-left: 0.3rem;
  //    margin-right: 0.3rem;
  //  }
  //}
  .version {
    mat-icon {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
    }
  }

  //}
  //.project-developer{
  //  margin-left: 0.3rem;
  //}
}
