<div fxLayout="column" fxLayoutAlign="space-around center" style="height: 100%" *ngIf="loading || (!loading && error)">

  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
    <br>
    <span>{{'PAGES.SEND.MESSAGES.CHECK_ENTERED_CODE' | translate}}</span>
  </div>
  <div *ngIf="!loading && error">
    <mat-card>
      <mat-card-content class="red-text">
        {{this.error}}<br>
        <a routerLink="/public/send">{{'PAGES.SEND.MESSAGES.ENTER_CODE_AGAIN_BUTTON' | translate}}</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<div class="bootstrap-wrapper" *ngIf="!loading && !error">
  <div class="container">
    <div class="row send-data-cards">
      <div class="col-12">
        <div>
          <h1>{{'PAGES.SEND.SEND_DATA.TITLE' | translate:titleParam }}</h1>
        </div>
      </div>
      <mat-card class="col-12 col-md-5">
        <mat-card-header>{{'PAGES.SEND.SEND_DATA.SEND_FILE.TITLE' | translate}}</mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="sendFile(sendFileForm.value, sendFileForm)" #sendFileForm="ngForm">
            <div class="row">
              <div class="col-12">
                <input type="file" (change)="handleFileInput($event.target.files)" multiple required>
              </div>
              <div class="col-12">
                <mat-radio-group aria-label="Select an option" name="backendType" ngModel required>
                  <mat-radio-button
                    value="s3" [checked]="true">{{'PAGES.SEND.SEND_DATA.SEND_FILE.S3_OPTION' | translate }}</mat-radio-button>
                  <mat-radio-button
                    value="local">{{'PAGES.SEND.SEND_DATA.SEND_FILE.LOCAL_OPTION' | translate }}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-12">
                <button mat-raised-button color="primary" type="submit"
                        style="width: 100%">{{'PAGES.SEND.SEND_DATA.SEND_FILE.SEND_BUTTON' | translate }}</button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-12 col-md-5">
        <mat-card-header>{{'PAGES.SEND.SEND_DATA.SEND_TEXT.TITLE' | translate }}</mat-card-header>
        <mat-card-content>
          <div class="row">
            <form (ngSubmit)="sendText(sendTextForm.value, sendTextForm)" #sendTextForm="ngForm">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>{{'PAGES.SEND.SEND_DATA.SEND_TEXT.TITLE_FIELD' | translate }}</mat-label>
                <input matInput name="title" ngModel required>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>{{'PAGES.SEND.SEND_DATA.SEND_TEXT.TEXT_FIELD' | translate }}</mat-label>
                <textarea matInput name="text" ngModel required></textarea>
              </mat-form-field>
              <!--            <mat-form-field >-->
              <!--              <button mat-raised-button mat color="primary"  class="col-12">Primary</button>-->

              <!--            </mat-form-field>-->
              <button mat-raised-button color="primary" type="submit"
                      style="width: 100%">{{'PAGES.SEND.SEND_DATA.SEND_TEXT.SEND_BUTTON' | translate }}</button>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
