.option {
  margin: 1rem;
  height: 20rem;

  width: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  cursor: pointer;
}

.back{
  display: flex;
  align-items: center;
}
code-input {
  --color: white;
}
